#logo1{
    height: 70px;
}
#n_content{
    color: white;
    font-weight: bolder;
}
#n_content:hover{
    color: orange;
}
#s_bar{
    margin-left: 350px;
}
#matt_1{
    margin-right: 600px;
    max-width: 1530px;
    background-image: url(./travel-photography-blog-hero.jpg);
    /* background-size: contain; */
    height: 600px;
    width:100%;
    background-repeat: no-repeat;

}

#matt_2{
    background-color: rgba(0, 0, 0, 0.468);
    height: 100%;
    width: 40%;
    margin-left: 150px;
    
}
#oline{
    background-color: orange;
    height: 6px;
    width: 100%;
    /* position: sticky;
    top: 0; */
    
}
#eyw{
    color: orangered;
    font-family: 'Bungee Spice', cursive;
}
#eyw_1{
    color: orange;
    font-family: 'Exo 2', sans-serif;
}
#b1{
    color: white;
    background-color: orange;
    font-family: 'Abril Fatface', cursive;
}
#b1:hover{
    color: black;
}
#map{
    border: 4px solid rgba(255, 166, 0, 0.456);
    border-radius: 10px;
}
#h2{
    font-family: 'Abril Fatface', cursive;
}
#q1{
    margin-left: 40px;
}
#q1:hover{
    transition: .5s;
    scale: 1.1;
    box-shadow: 5px 5px 5px black;
}
#r_fav{
    width: 100%;
    
}
.card1{
    width: 30%;
    margin-top: 25px;
}
#rf{
    color: orange;
}
#rf:hover{
    color: black;
    cursor: pointer;
}
#h44{
    font-family: 'Pacifico', cursive;
}
iframe{
    margin: 20px;
}
iframe:hover{
    transition: .5s;
    scale: 1.1;
    box-shadow: 5px 5px 5px orange;
}
.fs-4{
    font-family: 'Exo 2', sans-serif;
}